extends layout

block content
  #app
    img(src="/img/logo.png" alt="express logo")
    h2 Welcome to Your #{title} App

    h3 The count is at #{counter.c} !
    unless !counter.c
        h3 The last increment was at #{counter.lastModified.getHours()}:#{counter.lastModified.getMinutes()}:#{counter.lastModified.getSeconds()}
    a(href="/count")
        button +

